p {
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:8pt;
}
p.title {
font-family: verdana,helvetica,arial,sans-serif;
 text-align: center;
}
td {
font-size:8pt;
font-family: verdana,helvetica,arial,sans-serif;
}
th {
font-size:8pt;
font-family: verdana,helvetica,arial,sans-serif;
}
/*F�r Tabllenlayout braucht das Elementtag das Attribut "tabstyle="styleA""
table.styleA {
*/

div.book div.titlepage h1.title {
    font-family: verdana,helvetica,arial,sans-serif;
    font-weight: Bold;
    text-align: center;
    font-style:normal;
    color: #AE002F;
}

div.book div.titlepage h2 {
    font-family: verdana,helvetica,arial,sans-serif;
    font-weight: Bold;
    text-align: center;
    font-style:normal;
    color: #AE002F;
}

div.chapter div.titlepage h2.title
 {
    font-family: verdana,helvetica,arial,sans-serif;
    font-weight: Bold;
    font-size: 19pt;
    color: #AE002F;
 }
div.navheader img {
    height: 30px;
 
}
div.navfooter img {
    height: 30px;

}

div.procedure {
	font-family: verdana,helvetica,arial,sans-serif;
}


div.toc {
    font-family: verdana,helvetica,arial,sans-serif;
}
div.book div.titlepage h2.title {
    font-family: verdana,helvetica,arial,sans-serif;
    font-weight: Bold;
    font-size: 40pt;
    text-align: center;
    color: #AE002F;
   
}
div.book div.titlepage h2.subtitle {
    font-family: verdana,helvetica,arial,sans-serif;
    font-weight: Bold;
    text-align: center;
    font-style:normal;
    color: #AE002F;
    font-size: 30pt;
}

div.section div.titlepage h2.title {
    font-family: verdana,helvetica,arial,sans-serif;
    font-size: 16pt;
    text-align: left;
    font-weight: Bold;
    color: #AE002F;
}
div.section div.titlepage h3 {
    font-family: verdana,helvetica,arial,sans-serif;
    font-weight: Bold;
    color: #AE002F;
}
div.section div.titlepage h4 {
    font-family: verdana,helvetica,arial,sans-serif;
    font-weight: Bold;
    color: #AE002F;
}
div.section div.titlepage p {
    font-family: verdana,helvetica,arial,sans-serif;
    font-weight: Normal;
    color: #000000;
}
div.section div.table p.title b {
    font-family: verdana,helvetica,arial,sans-serif;
    font-size: 9pt;
   
}
 
div.informaltable {
	font-family: verdana,helvetica,arial,sans-serif;
	font-size:8pt;
}
.informaltable-contents table {
	border: 1px solid;
	border-collapse:collapse;
	border-style:inset;
	padding: 3px;
}
.informaltable-contents td {
	border: 1px solid;
	border-collapse:collapse;
	border-style:inset;
	padding: 3px;

}
.informaltable-contents th {
    font-family: verdana,helvetica,arial,sans-serif;
    font-weight: Normal;
}
.informaltable-contents table {
	border: 1px solid;
	border-collapse:collapse;
	border-style:inset;
	padding: 3px;
}

ul.itemizedlist{
    margin-left: -15px;		
}

.listitem {
    padding-left: 0px;
}

.table-contents table {
	border: 1px solid;
	border-collapse:collapse;
	border-style:inset;
	padding: 3px;
}
.table-contents td {
	border: 1px solid;
	border-collapse:collapse;
	border-style:inset;
	padding: 3px;
	text-align: center;


}
.table-contents th {
    font-family: verdana,helvetica,arial,sans-serif;
    font-weight: Normal;
}

span.inlinemediaobject img {
    height: 15px;
    width: 15px;
}
div.figure-contents {
	text-align: left;
	
}
div.figure-contents img {
	text-align: left;
	
}

div.procedure {
	font-size: 8pt;
}
div.quandaset h4.title {
    font-family: verdana,helvetica,arial,sans-serif;
    font-size: 10pt;
    text-align: center;
    color: #AE002F;
   
}

div.section div.titlepage h5.title {
 font-family: verdana,helvetica,arial,sans-serif;
 color: #AE002F;
}
div.appendix div.titlepage h2.title {

 font-family: verdana,helvetica,arial,sans-serif;
 color: #AE002F;
}

div.itemizedlist {
 font-family: verdana,helvetica,arial,sans-serif;

}
div.glossary dt {
 font-family: verdana,helvetica,arial,sans-serif;
font-size: 8pt;
font-weight: bold;

}

div.tip th {
font-family: verdana,helvetica,arial,sans-serif;
font-size: 9pt;
}
div.warning th {
font-family: verdana,helvetica,arial,sans-serif;
font-size: 9pt;
}
div.caution th {
font-family: verdana,helvetica,arial,sans-serif;
font-size: 9pt;
}
div.important th {
font-family: verdana,helvetica,arial,sans-serif;
font-size: 9pt;
}
div.segmentedlist {
	font-family: verdana,helvetica,arial,sans-serif;
	font-size:8pt;
}
div.refentry h6, a.link {
	font-family: verdana,helvetica,arial,sans-serif;
	font-size:10pt;  
}
