{namespace extlist=Tx_PtExtlist_ViewHelpers}
<extlist:form id="tx-ptextlist-columnSelector-form-{config.listIdentifier}" controller="ColumnSelector" action="submit" method="{f:if(condition: '{config.baseConfig.useSession}', then: 'POST', else: 'GET')}">
	<extlist:form.columnSelector id="{config.listIdentifier}-ColumnSelector" multiple="1" name="{extlist:namespace.FormElementName(object:'{columnSelector}' property:'selectedColumns')}" columns="{listHeader}" />
	<div class="outer-wrapper tx-ptextlist-columnSelectorControls">
		<div class="outer-field-wrapper">
			<div class="field-wrapper type-button">
				<f:form.submit value="{f:translate(key:'columnSelector.submitSelector')}"/>
			</div>
		</div>
	</div>
</extlist:form>