<!--  
Partial for rendering a string filter

Here is a list of objects / variables that can be accessed in this partial

Tx_PtExtlist_Domain_Model_Filter_GroupFilter           filter                      Holds an instance for the group filter object


@package Typo3
@subpackage pt_extlist
@author Michael Knoll <knoll@punkt.de>
@author Daniel Lienert <lienert@punkt.de>
-->


{namespace extlist=Tx_PtExtlist_ViewHelpers}
<div>
<f:if condition="{filter.validate} == 0">
    <div style="color: red">Validation Error: {filter.errorMessage}</div>
</f:if>
<label for="{filter.filterIdentifier}">{filter.label}</label>
    	<f:form.select multiple="{filter.multiple}" name="{extlist:namespace.FormElementName(object:'{filter}' property:'filterValues')}" options="{filter.options}" value="{filter.value}" />	
</div>