<!--  
Partial for rendering the aggregate rows.

Here is a list of objects / variables that can be accessed in this partial

Tx_PtExtlist_Domain_Model_List_ListData		aggregateRows		A collection with aggregate rows.

@package Typo3
@subpackage pt_extlist
@author Daniel Lienert <lienert@punkt.de>
-->

{namespace extlist=Tx_PtExtlist_ViewHelpers}

<f:for each="{aggregateRows}" as="aggregateRow">
	
	<tr>
	   <f:for each="{aggregateRow}" as="cell">
	     <td><f:format.html>{cell}</f:format.html></td>
	   </f:for>
	</tr>
	
</f:for> 