<!--  
Partial for rendering a list header.

Here is a list of objects / variables that can be accessed in this partial:

Tx_PtExtlist_Domain_Model_List_Header_ListHeader	listHeader		A instance with header information.
Tx_PtExtlist_Domain_Model_List_Row					listCaptions 	A row with captions for every column.


ViewHelpers used in this template:

HeaderViewHelper			A simple foreach implementation which makes some more variables accessable
Link/SortingViewHelper		Creates a sorting link based on the header information.
Image/SortingViewHelper		Creates a soring image based on the header information.

@package Typo3
@subpackage pt_extlist
@author Christoph Ehscheidt <ehscheidt@punkt.de>
-->


{namespace extlist=Tx_PtExtlist_ViewHelpers} 

<tr>
	<extlist:header headers="{listHeader}" headerKey="header" captions="{listCaptions}" captionKey="caption">
		<th>
			{caption}	
			<f:if condition="{sortable}">
				
			<extlist:link.sorting action="sort" header="{header}">
				<extlist:image.sorting header="{header}" alt="sorting"/>
			</extlist:link.sorting>
			</f:if>
		</th>
	</extlist:header>
</tr>