{namespace extlist=Tx_PtExtlist_ViewHelpers}
<extlist:comment>
<!--  
Partial for rendering a min filter

Here is a list of objects / variables that can be accessed in this partial

@package Domain
@subpackage Filter
@author Michael Knoll <knoll@punkt.de>
-->
</extlist:comment>

<div class="outer-wrapper">

	<f:if condition="{filter.validate} == 0">
		<div class="error">
			Validation Error: {filter.errorMessage}
		</div>
	</f:if>
	
	<label for="{filter.filterIdentifier}">
		{filter.label}
	</label>
	<div class="outer-field-wrapper">
		<div class="field-wrapper type-text">
			<label for="{extlist:namespace.FormElementName(object:'{filter}' property:'filterValueFrom')}">From:</label> <br />
			<f:form.textbox property="filterValueFrom" value="{filter.filterValueFrom}" name="{extlist:namespace.FormElementName(object:'{filter}' property:'filterValueFrom')}" /><br/>
			<label for="{extlist:namespace.FormElementName(object:'{filter}' property:'filterValueTo')}">To:</label><br />
			<f:form.textbox property="filterValueTo" value="{filter.filterValueTo}" name="{extlist:namespace.FormElementName(object:'{filter}' property:'filterValueTo')}" />
		</div>
	</div>
</div>