{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace ptextbase=Tx_PtExtbase_ViewHelpers}
<extlist:comment>
<!--
Partial for rendering a date range filter

Here is a list of objects / variables that can be accessed in this partial

@package Domain
@subpackage Filter
@author Michael Knoll <knoll@punkt.de>
-->
</extlist:comment>

<div class="outer-wrapper">
	<label for="{filter.filterIdentifier}" class="filter-label">
		{filter.label}
	</label>

	<ptextbase:Javascript.Template templatePath="EXT:pt_extlist/Resources/Private/JavaScriptTemplates/DateRangeDatePicker.js" addToHead="false"/>

	<div class="outer-field-wrapper">
		<div class="field-wrapper type-text">
			<label for="{extlist:namespace.FormElementName(object:'{filter}' property:'filterValueFrom')}"><f:translate key="filter.daterange.from" />:</label> <br />
			<f:form.textfield id="typo3-ptextlist-filter-daterangedatepicker-from" value="{filter.filterValueFrom}" /><br />
			<f:form.hidden property="filterValueFrom" value="{filter.filterValueFrom}" name="{extlist:namespace.FormElementName(object:'{filter}' property:'filterValueFrom')}" id="typo3-ptextlist-filter-daterangedatepicker-daterangefrom" /><br />
			<label for="{extlist:namespace.FormElementName(object:'{filter}' property:'filterValueTo')}"><f:translate key="filter.daterange.to" />:</label><br />
			<f:form.textfield id="typo3-ptextlist-filter-daterangedatepicker-to" value="{filter.filterValueTo}" />
			<f:form.hidden property="filterValueTo" value="{filter.filterValueTo}" name="{extlist:namespace.FormElementName(object:'{filter}' property:'filterValueTo')}" id="typo3-ptextlist-filter-daterangedatepicker-daterangeto" />
		</div>
	</div>
	<f:if condition="{filter.validate} == 0">
		<div class="error">
			<f:translate key="LLL:EXT:pt_extlist/Resources/Private/Language/locallang.xml:general.validationError" />{filter.errorMessage}
		</div>
	</f:if>
</div>