<!--  
Partial for rendering a max filter

Here is a list of objects / variables that can be accessed in this partial

@package Domain
@subpackage Filter
@author Christoph Ehscheidt <ehscheidt@punkt.de>
-->


{namespace extlist=Tx_PtExtlist_ViewHelpers}

<div class="outer-wrapper">

	<f:if condition="{filter.validate} == 0">
		<div class="error">
			Validation Error: {filter.errorMessage}
		</div>
	</f:if>
	
	<label for="{filter.filterIdentifier}">
		{filter.label}
	</label>
	<div class="outer-field-wrapper">
		<div class="field-wrapper type-text">
			<f:form.textbox property="filterValue" value="{filter.filterValue}" name="{extlist:namespace.FormElementName(object:'{filter}' property:'filterValue')}" />
		</div>
	</div>
</div>