{namespace extlist=Tx_PtExtlist_ViewHelpers}
<extlist:comment>
<!--  
Template for rendering a list.

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Configuration_ConfigurationBuilder	config			A instance of the configurationbuilder
Tx_PtExtlist_Domain_Model_List_Header_ListHeader		listHeader		A instance with header information.
Tx_PtExtlist_Domain_Model_List_Row						listCaptions 	A row with captions for every column.
Tx_PtExtlist_Domain_Model_List_ListData					listData		A collection of rows.
Tx_PtExtlist_Domain_Model_List_ListData					aggregateRows	A collection of aggregateRows.

@package Typo3
@subpackage pt_extlist
@author Christoph Ehscheidt <ehscheidt@punkt.de>
-->
</extlist:comment>

<table class="tx-ptextlist-list tx-ptextlist-list-standard" id="tx-ptextlist-list-{config.listConfiguration.listIdentifier}">
	<thead>
		<f:render partial="{config.listConfiguration.headerPartial}" arguments="{listHeader:listHeader, listCaptions:listCaptions}" />
	</thead>
	<tbody>
		<f:render partial="{config.listConfiguration.bodyPartial}" arguments="{listData:listData}" />
		<f:render partial="{config.listConfiguration.aggregateRowsPartial}" arguments="{aggregateRows:aggregateRows}" />
	</tbody>
</table>