{namespace extlist=PunktDe\PtExtlist\ViewHelpers}
<extlist:comment>
<!--  
Template for rendering a list.

Here is a list of objects / variables that can be accessed in this template:

ConfigurationBuilder	config			A instance of the configurationbuilder
ListHeader		listHeader		A instance with header information.
Row						listCaptions 	A row with captions for every column.
ListData					listData		A collection of rows.
ListData					aggregateRows	A collection of aggregateRows.

@package Typo3
@subpackage pt_extlist
@author Christoph Ehscheidt <ehscheidt@punkt.de>
-->
</extlist:comment>
<table class="tx-ptextlist-list tx-ptextlist-list-standard" id="tx-ptextlist-list-{listConfiguration.listIdentifier}">
	<thead>
		<f:render partial="{listConfiguration.headerPartial}" arguments="{listHeader:listHeader, listCaptions:listCaptions}" />
	</thead>
	<tbody>
		<f:render partial="{listConfiguration.bodyPartial}" arguments="{listData:listData}" />
		<f:render partial="{listConfiguration.aggregateRowsPartial}" arguments="{aggregateRows:aggregateRows}" />
	</tbody>
</table>
