{namespace extlist=Tx_PtExtlist_ViewHelpers}
<extlist:comment>
<!--  
Test Template for rendering Partials
-->
</extlist:comment>

<h1>Fluid default: Header</h1>
<f:render partial="Header"/>

<h1>Extlist EXT: Path: EXT:pt_extlist/Tests/Resources/Partials/TestPartial.html</h1>
<f:render partial="EXT:pt_extlist/Tests/Resources/Partials/TestPartial.html"/>

<h1>Extlist site relative Path: typo3conf/ext/pt_extlist/Tests/Resources/Partials/TestPartial.html</h1>
<f:render partial="typo3conf/ext/pt_extlist/Tests/Resources/Partials/TestPartial.html" />