{namespace extlist=Tx_PtExtlist_ViewHelpers}
<extlist:comment>
<!--  
Partial for rendering a button filter

Here is a list of objects / variables that can be accessed in this partial

Tx_PtExtlist_Domain_Model_Filter_GroupFilter           filter                      Holds an instance for the group filter object


@package Typo3
@subpackage pt_extlist
@author Daniel Lienert <lienert@punkt.de>
-->
</extlist:comment>

<div class="outer-wrapper">

	<label for="{filter.filterIdentifier}" class="filter-label">
		{filter.label}
	</label>
	<div class="outer-field-wrapper">

		<f:for each="{filter.options}" key="optionValue" as="option">
			<div class="field-wrapper type-button">
				<f:form.submit id="{filter.filterIdentifier}" class="{f:if(condition:'{option.selected}' then:'active')}" name="{extlist:namespace.FormElementName(object:'{filter}' property:'filterValues.{optionValue}')}" value="{optionValue}" />
			</div>
		</f:for>
		<f:if condition="{filter.filterConfig.description}"><div class="tx-ptextlist-filterdescription">{filter.filterConfig.description}</div></f:if>
		<f:if condition="{filter.filterConfig.invertable}">
			<div class="field-wrapper type-button">
				<f:form.checkbox name="{extlist:namespace.FormElementName(object:'{filter}' property:'invert')}" value="1" checked="{filter.invert}" />
				<label>
					<f:translate key="LLL:EXT:pt_extlist/Resources/Private/Language/locallang.xml:filter.invert" />
				</label>
			</div>
		</f:if>
		<f:if condition="{filter.validate} == 0">
			<div class="error">
				<f:translate key="LLL:EXT:pt_extlist/Resources/Private/Language/locallang.xml:general.validationError" />{filter.errorMessage}
			</div>
		</f:if>
	</div>
</div>