<!--  
Template for filterbox plugin

Here is a list of objects / variables that can be accessed in this template

Tx_PtExtlist_Domain_Model_Filter_Filterbox                          filterbox                   Holds an instance for the filterbox object
bool                                                                filtersDontValidate         True, if filters do not validate

@package Typo3
@subpackage pt_extlist
@author Michael Knoll <knoll@punkt.de>
@author Daniel Lienert <lienert@punkt.de>
-->


{namespace extlist=Tx_PtExtlist_ViewHelpers}

<div class="filterbox">
	<f:form controller="Filterbox" action="submit" method="post">
		
		<f:if condition="{filtersDontValidate}">
			<div class="error">
				<f:translate key="filterBox.errorInFilter" default="Errors in Filter." />
			</div>
		</f:if>
		
		<f:for each="{filterbox}" as="filter">
			<f:render partial="{filter.filterConfig.partialPath}" arguments="{filter : filter}" />
		</f:for>
		
		<div class="outer-wrapper">
			<div class="outer-field-wrapper">
				<div class="field-wrapper type-button">
					<f:form.submit value="Submit Filters"/>
						<f:if condition="{filterbox.filterboxConfiguration.showReset}">
							<f:link.action action="reset" arguments="{extlist:namespace.GPArray(object:'{filterbox}' arguments:'filterboxIdentifier')}" class="reset">
								<span>
									<f:translate key="filterBox.resetFilters" default="Reset filters" />
								</span>
							</f:link.action>
						</f:if>
				</div>
			</div>
		</div>
	</f:form>
</div> 