{namespace extlist=Tx_PtExtlist_ViewHelpers}
<extlist:comment>
<!--  
Template for bookmarks plugin

Here is a list of objects / variables that can be accessed in this template


@package Typo3
@subpackage pt_extlist
@author Michael Knoll <knoll@punkt.de>
@author Daniel Lienert <lienert@punkt.de>
-->
</extlist:comment>

<h2>Bookmarks</h2>

<f:for each="{allBookmarks}" as="bookmark">
    <f:link.action action="process" arguments="{bookmark : bookmark}">{bookmark.name}</f:link.action> 
    <f:link.action action="delete" arguments="{bookmark: bookmark}">&nbsp;delete</f:link.action><br />
</f:for>
<br />
<f:link.action action="new">Create new Bookmark</f:link.action>