{namespace extlist=Tx_PtExtlist_ViewHelpers}
<extlist:comment>
<!--  
Template for bookmarks plugin

Here is a list of objects / variables that can be accessed in this template


@package Typo3
@subpackage pt_extlist
@author Michael Knoll <knoll@punkt.de>
@author Daniel Lienert <lienert@punkt.de>
-->
</extlist:comment>

<h2>Bookmarks</h2>

<f:if condition="{bookmarks}">
	<f:for each="{bookmarks}" as="bookmark">
		<f:link.action action="restore" arguments="{bookmark : bookmark}">{bookmark.name}</f:link.action>
		<f:link.action action="delete" arguments="{bookmark: bookmark}">&nbsp;delete</f:link.action><br />
	</f:for>
</f:if>
<br />

<f:form method="post" action="save" object="newBookmark" objectName="newBookmark">
    <label for="name">Name of the bookmark:</label>
    <f:form.textfield name="name" property="name" id="name" />


    <f:if condition="{bookmarksConfig.createPublicBookmarks}">
        <f:form.radio value="{bookmarksConfig.publicConstant}" name="type-public" property="type" id="type-public" /> <label for="type-public">Public</label>
    </f:if>

    <f:if condition="{bookmarksConfig.createPrivateBookmarks}">
        <f:form.radio value="{bookmarksConfig.privateConstant}" name="type-private" property="type" id="type-private" checked="checked" /> <label for="type-private">Private</label>
    </f:if>

    <f:if condition="{bookmarksConfig.createGroupBookmarks}">
        <f:form.radio value="{bookmarksConfig.groupConstant}" name="type-group" property="type" id="type-group" /> <label for="type-group">Group</label>
        <f:form.select property="feGroup" options="{feGroups}" optionLabelField="title" />
    </f:if>

    <f:form.submit value="save" />
</f:form>