{namespace extlist=PunktDe\PtExtlist\ViewHelpers}
<extlist:comment>
<!--
Template for columnSelector plugin mode

Here is a list of objects / variables that can be accessed in this template

ConfigurationBuilder				config			A instance of the configurationbuilder
ListHeader		            listHeader		A instance with header information.
Row						            listCaptions 	A row with captions for every column.

@package Typo3
@subpackage pt_extlist
@author Daniel Lienert <lienert@punkt.de>
-->
</extlist:comment>

<div class="tx-ptextlist-columnSelector" id="tx-ptextlist-columnSelector-{config.listIdentifier}">
	<f:render partial="{config.columnSelectorConfig.partialPath}" arguments="{listHeader:listHeader, config:config, columnSelector:columnSelector}"/>
</div>
