{namespace extlist=Tx_PtExtlist_ViewHelpers}
<extlist:comment>
<!--
Template for columnSelector plugin mode

Here is a list of objects / variables that can be accessed in this template

Tx_PtExtlist_Domain_Configuration_ConfigurationBuilder				config			A instance of the configurationbuilder
Tx_PtExtlist_Domain_Model_List_Header_ListHeader		            listHeader		A instance with header information.
Tx_PtExtlist_Domain_Model_List_Row						            listCaptions 	A row with captions for every column.

@package Typo3
@subpackage pt_extlist
@author Daniel Lienert <lienert@punkt.de>
-->
</extlist:comment>

<div class="tx-ptextlist-columnSelector" id="tx-ptextlist-columnSelector-{config.listIdentifier}">
	<extlist:form id="tx-ptextlist-columnSelector-form-{config.listIdentifier}" controller="ColumnSelector" action="submit" method="{f:if(condition: '{config.baseConfig.useSession}', then: 'POST', else: 'GET')}">

		<extlist:form.columnSelector id="{config.listIdentifier}-ColumnSelector" multiple="1" name="{extlist:namespace.FormElementName(object:'{listHeader}' property:'visibleColumns')}" columns="{listHeader}" />

		<div class="outer-wrapper tx-ptextlist-columnSelectorControls">
			<div class="outer-field-wrapper">
				<div class="field-wrapper type-button">
					<f:form.submit value="{f:translate(key:'filterBox.submitFilters', default:'Submit Filters')}"/>
				</div>
			</div>
		</div>

	</extlist:form>
</div>