{namespace extlist=Tx_PtExtlist_ViewHelpers}
<extlist:comment>
<!--
Template for columnSelector plugin mode

Here is a list of objects / variables that can be accessed in this template

Tx_PtExtlist_Domain_Configuration_ConfigurationBuilder				config			A instance of the configurationbuilder
Tx_PtExtlist_Domain_Model_List_Header_ListHeader		            listHeader		A instance with header information.
Tx_PtExtlist_Domain_Model_List_Row						            listCaptions 	A row with captions for every column.

@package Typo3
@subpackage pt_extlist
@author Daniel Lienert <lienert@punkt.de>
-->
</extlist:comment>

<div class="tx-ptextlist-columnSelector" id="tx-ptextlist-columnSelector-{config.listIdentifier}">
	<f:render partial="{config.columnSelectorConfig.partialPath}" arguments="{listHeader:listHeader, config:config, columnSelector:columnSelector}"/>
</div>