plugin.tx_ptlist._CSS_DEFAULT_STYLE (


	.tx-ptlist-grid table {
		margin: 0;
	}
	
	table.tx-ptlist-list-standard {
		border: 1px solid #99BBE8;
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 12px;
	}
	
	table.tx-ptlist-list-standard th {
		background-color: #EBF3FD;
		border-left: 1px solid #99BBE8;
		border-bottom: 1px solid #99BBE8;
	}
	
	table.tx-ptlist-list-standard td {
		padding: 5px;
	}

	th.tx-ptlist-list-header {
		padding: 4px;
		white-space: nowrap;
	}

	table.tx-ptlist-list-standard th a {
		display: block;
	}

	li.tx-ptlist-filter {
		border: 1px solid #aaa;
		padding: 0;
		margin-bottom: 20px;
		background-color: white;
	}
	
	li.tx-ptlist-filter h4 {
		padding: 5px 5px 5px 10px;
		margin-top: 0;
		height: auto;
		background-color: #EBF3FD;
	}
	
	ul.tx-ptlist-filterbox {
		margin: 0;
		padding: 0;
	}
	
	ul.tx-ptlist-filterbox li {
		list-style-type: none;
	}
	
	.tx-ptlist-filterbox-userinterface,
	.resetlink {
		margin: 10px;
	}
	
	.filteractive {
		border: 3px solid #99BBE8;
	}
	
	.filterbox-label {
		font-size: 8pt;
		font-weight: bold;
	}
	
	.clearer {
		clear: both;
	}
	


	table.tx-ptlist-list {
		width: 99.9%;
		margin-left: 1px;
		margin-bottom: 5px;
	}
	
	table.tx-ptlist-list th, 
	table.tx-ptlist-list th a {
		text-decoration: none;
		color: black;
	}
	
	table.tx-ptlist-list tr.even {
		background-color: #f5f5f5;
	}
	
	table.tx-ptlist-list tr.odd {
		background-color: white;
	}
	
	table.tx-ptlist-list td {
		background-color: transparent;
	}


	li.tx-ptlist-controller-filter-group select {
		width: 100%;
	}
	
	ul.filter-timeSpan-links,
	ul.filter-group-links {
		padding: 0;
	}
	
	ul.filter-timeSpan-links li,
	ul.filter-group-links li {
		list-style-type: none;
	}
	
	ul.filter-timeSpan-links a,
	ul.filter-group-links a {
		text-decoration: none;
		color: black;
	}
	
	ul.filter-timeSpan-links a:hover,
	ul.filter-group-links a:hover {
		text-decoration: underline;
	}
	
	ul.filter-timeSpan-links li.selected a,
	ul.filter-group-links li.selected a {
		color: red;
		font-weight: bold;
	}
	
	span.count {
		color: #ccc;
		float: none;
	}

	.advmultiselect-form,
	.advmultiselect-form table,
	.advmultiselect-form td,
	.advmultiselect-form tr {
		padding: 0;
		margin: 0;
	}
	
	.advmultiselect-form table,
	.advmultiselect-form select {
		width: 100%;
	}

	.tx-ptlist-aggregate-row {
		border-top: 2px solid black;
	}
	
	.tx-ptlist-aggregate-row .label {
	}
	
	.tx-ptlist-aggregate-row .value {
		font-weight: bold;
	}
	
	label {
		font-size: small;
	}
	
	
	
	/***************************************************************************
	 * Filter breadcrumb
	 **************************************************************************/
	div.tx-ptlist-filterbreadcrumb-container-empty {
		display: none;
	}
	
	div.tx-ptlist-filterbreadcrumb-container {
		border-top: 1px solid #99BBE8;
		border-bottom: 1px solid #99BBE8;
		padding: 5px 0;
		overflow: hidden;
		margin-bottom: 4px;
	}
	
		div.tx-ptlist-filterbreadcrumbelement {
			float: left;
			padding: 0;
			margin: 2px;
			background-color: #EBF3FD;
		}
		 
			div.breadcrumbcontent {
				float: left;
				padding: 4px;
				border-right: 1px solid #99BBE8;
				background-color: #fff;
			}
				 
			div.breadcrumbresetlink {
				float: left;
				margin: 0;
				padding: 5px;
			}
			
	div.tx-ptlist-filterbreadcrumb-container span.label {
		font-weight: bold;
	}
		
	div.tx-ptlist-filterbreadcrumb-container h4 {
		margin-bottom: 10px;
	}
	
	/***************************************************************************
	 * Pager
	 **************************************************************************/
	 
	/**
	 * Centering the pager (hack for ie will be appended below)
	 */
	.tx-ptlist-pagercontainer {
	    display: table;
	    margin: 0px auto;
	}
	 
	ul.tx-ptlist-pager {
		margin: 0px;
		padding: 0px;
	}
	
	ul.tx-ptlist-pager li {
		margin-right: 2px;
		list-style-type: none;
		float: left;
		border: 1px solid #AAA;
		text-align: center;
	}

	ul.tx-ptlist-pager li.offsetinfo,
	ul.tx-ptlist-pager li.offsetinfo:hover {
		border: none;
		background: none;
	}
	
	ul.tx-ptlist-pager li:hover,
	ul.tx-ptlist-pager li.pageitem-current {
		background-color: #EBF3FD;
		border-color: #99BBE8;
	}
	
	ul.tx-ptlist-pager li.prev-current, 
	ul.tx-ptlist-pager li.next-current, 
	ul.tx-ptlist-pager li.first-current, 
	ul.tx-ptlist-pager li.last-current {
		border-color: #ddd;
	}
	
	ul.tx-ptlist-pager li.prev-current span.unlinkedelement, 
	ul.tx-ptlist-pager li.next-current span.unlinkedelement, 
	ul.tx-ptlist-pager li.first-current span.unlinkedelement, 
	ul.tx-ptlist-pager li.last-current span.unlinkedelement {
		color: #ddd;
	}
	
	ul.tx-ptlist-pager li.prev, 
	ul.tx-ptlist-pager li.next, 
	ul.tx-ptlist-pager li.first, 
	ul.tx-ptlist-pager li.last {
		width: 30px;
	} 
	
	ul.tx-ptlist-pager li.prev {
		margin-right: 10px;
	}
	
	ul.tx-ptlist-pager li.next {
		margin-left: 10px;
	}
	
	ul.tx-ptlist-pager li.fillitem {
		border-color: transparent;
		margin-left: 10px;
		margin-right: 10px;
	}
	
	ul.tx-ptlist-pager li a, 
	ul.tx-ptlist-pager li span.unlinkedelement {
		font-size: smaller;
		text-decoration: none;
		color: black;
		display: block;
		padding: 2px 5px;
		height: 100%;
		vertical-align: middle;
	}
	
)

[browser = msie]
                     
plugin.tx_ptlist_ie._CSS_DEFAULT_STYLE (

	/**
	 * Hack for IE to center the pager
	 */
	.tx-ptlist-pagercontainer { 
		text-align: center; 
	}
	
    ul.tx-ptlist-pager { 
    	display: inline-block; 
    }
    
    ul.tx-ptlist-pager { 
    	display: inline; 
    }
    
    ul.tx-ptlist-pager li { 
    	float: left; 
    }
    
)

[global]
