plugin.tx_ptextlist._CSS_DEFAULT_STYLE (
	
	
	/* List */
	table.tx-ptextlist-list {
		width: 99.9%;
		margin-left: 1px;
	}
	
	table.tx-ptextlist-list-standard th {
		background: #AAA;
		border:  1px solid #bfbfbf;
	}
	
	table.tx-ptextlist-list-standard td {
		border: 1px solid #bfbfbf;
		margin: 0px;
		padding: 2px 4px 2px 4px;
		vertical-align: top;
	}
	
	table.tx-ptextlist-list-standard {
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 12px;
		clear: both;
	}
	
	table.tx-ptextlist-list-standard tr.odd {
		background-color: #ffffff;
	}
	
	table.tx-ptextlist-list-standard tr.even {
		background-color: #F5F5F5;
	}
	
	
	/* Listheader */
	table.tx-ptextlist-list-standard th {
		padding: 4px;
		background: #AAA;
		border:  1px solid #bfbfbf;
	}
	
	
	th.tx-ptextlist-list-header a {
		text-decoration: none;
	}
	
	th.tx-ptextlist-list-header a img {
		border: none;
	}
	
	/* Aggregates */
	.tx-ptextlist-aggregaterow {
		background-color: #DDDDDD;
		font-weight: bold;
	}
	
	
	
	/* Filters */
	.tx-ptextlist-filter {
		float: left;
		padding: 3px;
		list-style-type: none !important;
	}
	
	.tx-ptextlist-filters {
		list-style-type: none !important;
	}
	
	.tx-ptextlist-filterboxcontrols {
		float: left;
		padding: 18px 0 0 10px;
	}
	
	.tx-ptextlist-filterbox{
		border: 1px solid #BFBFBF;
		margin-bottom: 20px;
		padding: 5px;
		overflow: hidden;
	}
	
	.tx-ptextlist-filter-firstLetter{
		float: left;
		padding: 3px;
		list-style-type: none !important;
	}

	.type-button .reset {
		margin-left: 1em;
	}
	
	
	
	/* Pager */
	.pt-extlist-pager {
		margin-left: 0 !important;
	}
	
	.pt-extlist-pager li {
		display: inline;
	}
)