plugin.tx_ptextlist._CSS_DEFAULT_STYLE (
	
	/* filters */
	
	.type-button .reset {
		margin-left: 1em;
	}
	
	/* pager */
	
	.pt-extlist-pager {
		margin-left: 0 !important;
	}
	
	.pt-extlist-pager li {
		display: inline;
	}
	
)