<div>
	<strong>Simple Pager Rendering</strong>
</div>
<ul class="pt-extlist-pager">
	<i>Total amount of items: {pager.itemCount}</i>
	<f:if condition="{pager.showFirstLink}">
		<li class="first">
			<f:link.action action="submit" arguments="{page:pager.firstPage}">&lt;&lt;</f:link.action>
		</li>
	</f:if>
	<f:if condition="{pager.showPreviousLink}">
		<li class="previous">
			<f:link.action action="submit" arguments="{page:pager.previousPage}">&lt;</f:link.action>
		</li>
	</f:if>

	<f:for each="{pager.pages}" key="i" as="pageNumber">
		<li class="number">
			<f:if condition="{pager.currentPage} != {pageNumber}">
				<f:then>
					<f:link.action action="submit" controller="Pager" arguments="{page:i}">{pageNumber}</f:link.action>
				</f:then>
				<f:else>
					<span class="cur">
						{pageNumber}
					</span>
				</f:else>
			</f:if>
		</li>
	</f:for>
	
	<f:if condition="{pager.showNextLink}">
		<li class="next">
			<f:link.action action="submit" arguments="{page:pager.nextPage}">&gt;</f:link.action>
		</li>
	</f:if>
	<f:if condition="{pager.showLastLink}">
		<li class="last">
			<f:link.action action="submit" arguments="{page:pager.lastPage}">&gt;&gt;</f:link.action>
		</li>
	</f:if>
</ul>

<!--
Item Count: {pager.itemCount} <br/>
Items per page: {pager.itemsPerPage}<br />
Current Page: {pager.currentPage}<br/>
FirstItem: {pager.firstItemIndex}<br/>
LastItem: {pager.lastItemIndex}
-->