{namespace extlist=Tx_PtExtlist_ViewHelpers} 

<h2>
	Simple Pager Rendering
</h2>
<div class="pt-extlist-pager-item-display">
	
	<f:if condition="{pager.firstItemIndex}">
		<f:translate key="pager.showItems" default="Show items from" /> <span class="first">{pager.firstItemIndex}</span>
		<f:translate key="pager.to" default="to" />
		<f:if condition="{pager.itemCount} < {pager.lastItemIndex}"> 
			<f:then><span>{pager.itemCount}</span></f:then>
			<f:else><span class="last">{pager.lastItemIndex}</span></f:else>
		</f:if>
		<f:translate key="pager.of" default="of" /> <span class="count">{pager.itemCount}</span>
	</f:if>
	
</div>
<ul class="pt-extlist-pager">
	
	<f:if condition="{pager.showFirstLink}">
		<li class="first">
			<f:link.action action="submit" arguments="{page:pager.firstPage, list:pager.listIdentifier}">&lt;&lt;</f:link.action>
		</li>
	</f:if>
	
	<f:if condition="{pager.showPreviousLink}">
		<li class="previous">
			<f:link.action action="submit" arguments="{page:pager.previousPage, list:pager.listIdentifier}">&lt;</f:link.action>
		</li>
	</f:if>

	<f:for each="{pager.pages}" key="i" as="pageNumber">
		<li class="number">
			<f:if condition="{pager.currentPage} != {pageNumber}">
				<f:then>
					<f:link.action action="submit" controller="Pager" arguments="{page:i, list:pager.listIdentifier}">{pageNumber}</f:link.action>
				</f:then>
				<f:else>
					<span class="cur">
						{pageNumber}
					</span>
				</f:else>
			</f:if>
		</li>
	</f:for>
	
	<f:if condition="{pager.showNextLink}">
		<li class="next">
			<f:link.action action="submit" arguments="{page:pager.nextPage, list:pager.listIdentifier}">&gt;</f:link.action>
		</li>
	</f:if>
	
	<f:if condition="{pager.showLastLink}">
		<li class="last">
			<f:link.action action="submit" arguments="{page:pager.lastPage, list:pager.listIdentifier}">&gt;&gt;</f:link.action>
		</li>
	</f:if>
	
</ul>

<!--
Item Count: {pager.itemCount} <br/>
Items per page: {pager.itemsPerPage}<br />
Current Page: {pager.currentPage}<br/>
FirstItem: {pager.firstItemIndex}<br/>
LastItem: {pager.lastItemIndex}
-->
