{namespace extlist=Tx_PtExtlist_ViewHelpers}
<extlist:comment>
<!--  
Partial for rendering a string filter

Here is a list of objects / variables that can be accessed in this partial

Tx_PtExtlist_Domain_Model_Filter_StringFilter           filter                      Holds an instance for the filterbox object


@package Typo3
@subpackage pt_extlist
@author Michael Knoll <knoll@punkt.de>
@author Daniel Lienert <lienert@punkt.de>
-->
</extlist:comment>

<div class="outer-wrapper">
	<label for="{filter.filterIdentifier}" class="filter-label" >
		{filter.label}
	</label>
	<div class="outer-field-wrapper">
		<div class="field-wrapper type-text">
			<f:form.textfield id="{filter.filterIdentifier}" property="filterValue" value="{filter.filterValue}" name="{extlist:namespace.FormElementName(object:'{filter}' property:'filterValue')}" size="{filter.filterConfig.settings.size}" maxlength="{filter.filterConfig.settings.maxLength}"/>
		</div>
	</div>

	<f:if condition="{filter.filterConfig.description}"><div class="tx-ptextlist-filterdescription">{filter.filterConfig.description}</div></f:if>

	<f:if condition="{filter.validate} == 0">
		<div class="error">
			<f:translate key="LLL:EXT:pt_extlist/Resources/Private/Language/locallang.xml:general.validationError" />{filter.errorMessage}
		</div>
	</f:if>
</div>