{namespace extlist=Tx_PtExtlist_ViewHelpers}
<extlist:comment>
<!--  
Template for breadcrumbs plugin

Here is a list of objects / variables that can be accessed in this template

breadcrumbs - Collection of filter breadcrumbs (Tx_PtExtlist_Domain_Model_BreadCrumbs_BreadCrumb)

@package Typo3
@subpackage pt_extlist
@author Michael Knoll <knoll@punkt.de>
@author Daniel Lienert <lienert@punkt.de>
-->
</extlist:comment>
<f:if condition="{breadcrumbs}">
	<ul class="tx-ptextlist-breadcrumbs">
	<f:for each="{breadcrumbs}" as="breadcrumb">
		<f:if condition="{breadcrumb.message}">
			<li>{breadcrumb.message}
			    <f:if condition="{breadcrumb.showResetLinks}">
					<f:if condition="{breadcrumb.isResettable}">
						<f:link.action action="resetFilter" 
						  arguments="{extlist:namespace.GPArray(object:'{breadcrumbs}' arguments:'filterIdentifier : {breadcrumb.filter.filterIdentifier}, 
	                      filterboxIdentifier : {breadcrumb.filter.filterboxIdentifier}')}">reset</f:link.action>
					</f:if>
			    </f:if>
			</li>
		</f:if>
	</f:for>
	</ul>
</f:if>