{namespace extlist=Tx_PtExtlist_ViewHelpers}
<extlist:comment>
<!--  
Template for breadcrumbs plugin

Here is a list of objects / variables that can be accessed in this template


@package Typo3
@subpackage pt_extlist
@author Michael Knoll <knoll@punkt.de>
@author Daniel Lienert <lienert@punkt.de>
-->
</extlist:comment>

<h2>Breadcrumbs</h2>

<ul>
<f:for each="{breadcrumbs}" as="breadcrumb">
    <f:if condition="{breadcrumb.message}">
	    <li>
	    {breadcrumb.message} 
	    <f:if condition="{settings.breadCrumbs.showResetLinks}">
	        <f:if condition="{breadcrumb.isResettable}">
	            &nbsp;<f:link.action action="resetFilter" arguments="{filterIdentifier : breadcrumb.filter.filterIdentifier filterboxIdentifier : breadcrumb.filter.filterboxIdentifier}">reset</f:link.action>
	        </f:if>
	    </f:if>
	    </li>
    </f:if>
</f:for>
</ul>